.about{
    padding-bottom: 2rem;

    &_bio-image{
        height: 30vh;
        width: 100%;
        background:
        linear-gradient(to right, rgba($primary-color,0.9), rgba($primary-color,0.3)),
        url(../img/model01.jpg) center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    
        .text-secondary{
            font-size: 2rem;
            padding-bottom: 1rem;
        }
        p{
            margin-block-end: 2rem;
        }
    }

    &_bio{
        width: 80%;
        text-align: center;
    }

    .jobs{
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        &-job{
            background: lighten($primary-color, 10%);
            padding: 0.5rem;
            border-bottom: 5px solid $secondary-color;

            h2,h3{
                margin: 0.5rem 0;
            }
            h4{
                font-size: 0.75rem;
                margin-bottom: 1rem;
                color: rgb(175, 175, 175);
            }
        }
        &-content{
            ul{
                margin-left: 1.5rem;
            }
            .basic{
                display: flex;
                flex-wrap: wrap;
                >div{
                    flex: 0 1 160px;
                }
                .img{
                    margin-right: 1rem;
                    width: 160px;
                    height: 200px;
                    background: url(../img/model01.jpg) center center;
                    background-size: cover;
                    border-radius: 5%;
                }
            }
            
        }
        .toolsIcon{
            display: flex;
            flex-wrap: wrap;
        }
        .toolsIcon >div{
            margin: 0 1rem;
            flex: 1 1 150px;
            max-width: 200px;
        }
        .toolsIcon p{
            display: inline-block;
            min-width: 34px;
            min-height: 34px;
            text-align: center;
            border: 2px solid #fff;
            border-radius: 34px;
            padding: 3px;
        }
    }



    footer{
        transform: 
        rotate(90deg)
        translate(-3rem,-5rem);
    }
}

